    <div style="margin-top: 2rem;" class="container">
     <div class="container">
          <ui-view>
            
          </ui-view>
        </div>     
    <form>
      <input type="text" class="form-control" placeholder="Nombre track" ng-model="track.nombre">
      <br>
      <input type="text" class="form-control" placeholder="Duracion" ng-model="track.duracion">
      <br>
      <input type="text" class="form-control" placeholder="Mp3" ng-model="track.mp3">
      <br>
      <div class="alert alert-danger" role="alert" ng-if="error">
        {{error}}
      </div>
      <div class="alert alert-success" role="success" ng-if="success">
        {{success}}
      </div>
      <button class="btn btn-success" ng-click="guardarTrack();">Crear</button>
      <button class="btn btn-default" ui-sref="navegador.album" >Volver</button>
    </form>
  </div>

