
  <div class= "container">
    <div class="container">
          <ui-view>
       </ui-view>
        </div>  
    
    <div class="track">
    <button ui-sref="navegador.trackNew" class="btn btn-primary float-right"  >Agregar Track</button>

   <h3 style="margin-bottom: 1rem;">Tracks </h3>
    <table class="table" style="color:#FFFFFF;">
      <thead>
        <tr>
          
          <th>Nombre </th>
          <th>Duracion </th>
          <th>mp3 </th>
        </tr>
        <tr>
          
        </tr>
      </thead>
      
      <tbody>
        <tr ng-repeat="track in info.tracks" >
          <td>{{info.nombre}}</td>
          <td>{{info.duracion}}</td>
          <td>{{info.mp3}}</td>
          </tr>
      </tbody>
    </table>
  </div>

  </div>
