.formRegistro {
margin: 20px auto;
width: "";
background: rgba(20,20,20,0.8);
box-shadow: 0px 0px 10px  2px #777;
color: #ccc;
padding: 20px;
border-radius: 10px;
overflow: hidden;
text-align: center;
}

.formLogin {
margin: 20px auto;
width: "";
height: 300px;
background: rgba(20,20,20,0.8);
box-shadow: 0px 0px 10px  2px #777;
color: #ccc;
padding: 20px;
border-radius: 10px;
overflow: hidden;
text-align: center;
}

body {
	
background-color: rgba(20,20,20,0.8);
background-image: url("https://static.rfstat.com/bloggers_folders/user_2540376/my_media/aab8b888-e24f-43af-83db-cc4cd88de9b3.jpeg");
	
}
	
.btnLogin{
box-shadow: 0px 0px 50px  1px #777;
background-color:	#58b096;
border-radius: 5px;
color: #FFFFFF;
}

#navegador{
text-align: center;
color: #FFFFFF;
} 	

.album{
margin: 20px auto;
width: 90%;
height: 90%;
background: rgba(20,20,20,0.8);
box-shadow: 0px 0px 10px  2px #777;
color: #FFFFFF;
padding: 20px;
border-radius: 10px;
overflow: auto;
text-align: center;
outline-color: #FFFFFF;
}

.track{
margin: 20px auto;
width: "";
height: 300px;
background: rgba(20,20,20,0.8);
box-shadow: 0px 0px 10px  2px #777;
color: #FFFFFF;
padding: 20px;
border-radius: 10px;
overflow: hidden;
text-align: center;
outline-color: #FFFFFF;
}

.flotante{
visibility: hidden;
position: fixed;
height: 100%;
width: 100%;
background: rgba(20,20,20,0.8);
box-shadow: 0px 0px 10px  2px #777;
right: 0%;
top: 0%;
text-align: center;
overflow:auto;
}

.img{
height: 100px;
width: 100px;
}

#reproductor{
visibility: hidden;
text-align: center;
background-color: rgba(20,20,20,0.8);
box-shadow: 0px 0px 10px  2px #777;
outline-color: #FFFFFF;
text-decoration-color: black;
}

#barraTiempo {
  -webkit-appearance: none;
  width: 25%;
  height: 15px;
  border-radius: 5px;   
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#barraTiempo::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #4CAF50;
  cursor: pointer;
}

#barraTiempo::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}
#controlVlm {
  -webkit-appearance: none;
  width: 10%;
  height: 15px;
  border-radius: 5px;   
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#controlVlm::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #4CAF50;
  cursor: pointer;
}

#controlVlm::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

#textoRep{
color: #FFFFFF;
padding: 20px;

}

