 <!DOCTYPE html>

  <html ng-app='app'>

  <head>
      <meta charset="UTF-8">
     
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="https://getbootstrap.com/docs/4.1/examples/dashboard/dashboard.css">

        <LINK rel ="StyleSheet" HREF="css.css" TYPE="text/css" MEDIA=screen>

        </head>

  <body ng-controller="MainCtrl">

    
    <div class="container">
        <ui-view>
          
        </ui-view>
      </div> 
	  
	  <footer>
      <nav class="navbar fixed-bottom navbar-expand-lg navbar-light bg-light" >
     
    <audio src={{audioPlay}} controls preload="auto" id="audio" hidden="true"  ></audio> 

    <a ng-click = "changePlay()" id = "btnPlay"><img id ="imgPlay" src="https://img.icons8.com/ios/50/000000/play-filled.png" ></a>

    
     <a ng-click = "changePlay()" id = "btnPlay"><img src="https://img.icons8.com/ios/50/000000/dice-filled.png"></a>
     <a ng-click = "cambiaTema('atras')" id = "imgAtras"><img src="https://img.icons8.com/ios/50/000000/left-squared-filled.png"></a>
     <a ng-click = "cambiaTema('adelante')" id = "imgAdelante"><img src="https://img.icons8.com/ios/50/000000/right-squared-filled.png"></a>

    <div id ="nombreTrack"></div>
	<div id ="numDelTrack"></h6></div>
	<div id ="nombreAlbum"></h6></div>
  
    <input type="range" min="0" max="100" value="{{volumen}}" ng-model ="volumen" step="1" ng-click="controlVolumen()">
    <span>{{volumen}}</span>
    
    <input type="range" min="0" max="{{duracion}}" value="{{tiempo}}" ng-model ="tiempo" id = "barraTiempo" "step="1" ng-click="controlTiempo()">
    <span id="valor">0</span>/<div id = "tiempoTotal"> {{duracion}}</div>

  

  

  </nav>
 
    </footer>
	     

      <script src="node_modules/angular/angular.min.js"></script>
    

      <script src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>

      <script src="node_modules/base-64/base64.js"></script>


      
    <!-- APP -->
      <script type="text/javascript" src="app/app.js"></script>

      <!-- CTRL -->

      <script type="text/javascript" src="app/components/session/controllers/loginCtrl.js"></script>
   
      <script type="text/javascript" src="app/components/album/controllers/albumCtrl.js"></script>

      <script type="text/javascript" src="app/components/track/controllers/trackCtrl.js"></script>

      <script type="text/javascript" src="app/components/usuario/controllers/userCtrl.js"></script>
	  
	       
   

      
    
  </body>


  </html>