
      

<div class="container">
        <div class="row justify-content-center align-items-center" style="height:100vh">
                
                    <div class ="formRegistro">
					<h2>Ingrese sus datos</h2>
						<br>	
                        <form>
                             <div class="form-group" >
                                <input type="text" class="form-control" name="username" placeholder ="Usuario">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" placeholder ="Email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="password" placeholder ="Contraseña">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="password" placeholder ="Repita Contraseña">
                            </div>
                            
                           
                            <button type="button" ui-sref="" class="btnLogin" >Registrarse</button>
                        
                            
                        </form>
                           
                    </div>
                
            
        </div>
    </div>


