
<div class= "container">
	<div class="container">
        <ui-view>
		 </ui-view>
   </div >  


	<div class="album" id="coso">
	<button class="btn btn-primary float-right" ui-sref="navegador.albumNew" >Agregar Album</button>
	

	<h3 style="margin-bottom: 1rem;">Albumes </h3>
	<table class="table" style="color:#FFFFFF;" >
		<thead>
			<tr>
				<th>Album</th>
				<th>Id</th>
				<th>Usuario</th>
				<th>Nombre</th>
				<th>Artista</th>
				<th>Tipo de album</th>
				<th>Editar Album</th>
				<th>Ver Album</th>
				<th>Agregar Tracks</th>			
			</tr>
		</thead>
		<tbody>
			
			<tr ng-repeat="o in albumes"  >
				<td><img src="{{o.img}}" class="img"></td>
				<td><div class="container"><div id="{{$index}}" class="flotante">
					<br>
					<table>
						<tbody>
							<tr>
								<td>
						
									<img src="{{o.img}}">
									<table>
										<th>Id</th>
										<th>Usuario</th>
										<th>Nombre</th>
										<th>Artista</th>
										<th>Tipo de album</th>
										<tr>
											<td>{{o.id}}</td>
											<td>{{o.user}}</td>
											<td>{{o.nombre}}</td>
											<td>{{o.artist}}</td>
											<td>{{o.type}}</td>
										
										</tr>

									</table>
									<button class="btn btn-primary" ng-click = "playAlbum(o)">Escuchar Album Completo</button>
								</td>

								<td>
									<h3>Tracks</h3>
									<table>
										<tbody>
											<th>Nombre</th>
											<th>Duracion</th>
											<th>Mp3</th>	
											<tr ng-repeat="m in o.tracks">
												<td>{{m.name}}</td>
												<td>{{m.duration}}</td>
												<td>{{m.mp3}}</td>
												<td><button class="btn btn-primary" ng-click = "playTrack(m)">Play</button></td>
											</tr>
										</tbody>
									</table>
								</td>
				</td>
			</tr>
		</tbody>
	</table>				
						
				<button class="btn btn-primary" ng-click="ocultarAlbum($index);">Volver</button>
				<td>{{o.id}}</td>
				<td>{{o.user}}</td>
				<td>{{o.nombre}}</td>
				<td>{{o.artist}}</td>
				<td>{{o.type}}</td>
				<td>
					<div id="{{$index+1000}}"  class="flotante" >
					
					hola

					<input type="text" class="form-control"  value="hola">

					<button class="btn btn-primary" ng-click="ocultarAlbum($index+1000);">Volver</button>

					</div> 
					<button class="btn btn-primary" ng-click="verAlbum($index+1000);">Editar Album</button>
				</td>

				<td> <button class="btn btn-primary" ng-click="verAlbum($index);">Ver Album</button>
				</td>

				<td> <button ui-sref= "navegador.trackNew" class="btn btn-success">Agregar track</button></td>
				

			</tr>
		</tbody>
	</table>
</div>

</div>




