<div class="container">
        <ui-view>
          
        </ui-view>
      </div> 

  <div>
       
  <form style="margin-top: 2rem;"> 
  <!--   <input type="file" ng-model="albumes.imgAlbum" class="form-control" base-sixty-four-input>
    <br> -->
    
   
    <input type="text" class="form-control" placeholder="Nombre" ng-model="albumes.nombre">
    <br>
    <input type="text" class="form-control" placeholder="Artista" ng-model="albumes.artist">
    <br>
    <select name="select" class="form-control" ng-model="albumes.type">
      <option value="Musica" selected> Musica </option> 
      <option value="Podcast"> Podcast </option>
      <option value="Audiolibro"> Audiolibro </option>
      </select>    
    <br>
    <input type="text" class="form-control" placeholder="Usuario" ng-model="albumes.user">
    <br>   
    <img ng-src="{{ 'data:image/jpg;utf8;base64,' + album.imgAlbum.base64 }}" >
    <br> 
    <div class="alert alert-danger" role="alert" ng-if="error">
      {{error}}
    </div>
    <div class="alert alert-success" role="success" ng-if="success">
      {{success}}
    </div>

    <button class="btn btn-success" ng-click="guardarAlbum();">Crear</button>
    <button class="btn btn-default" ui-sref="navegador.album" >Volver</button>
  </form>
</div>


