 

<div class="container">
        <div class="row justify-content-center align-items-center" style="height:100vh">
                
                    <div class ="formLogin">
					<h2>Iniciar sesión</h2>
					
             
                        <form autocomplete="off">
                            <div class="form-group" >
                                <input type="text" class="form-control" ng-model="userLogin.user" placeholder ="Usuario" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" ng-model="userLogin.psw" placeholder ="Contraseña" autocomplete="off">
                            </div>
                            
                            <button type="submit" ng-click="login()" class="btnLogin" >Entrar</button>
                            <br><br>
                            {{error}}
                            <br><br>
                            <button type="button" ui-sref="navegador.userNew" class="btnLogin "> Registro </button>
                            
                            
                        </form>
                            
                                                        
                       
                    </div>
                
            
        </div>
    </div>

