
      <nav class="navbar navbar-expand-lg navbar-light bg-dark">
       <h5>Musica</h5>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
    </ul>
    
        <form class="form-inline my-2 my-lg-0">
        <input class=" mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">

        <img src="img/buscar.png" class= "icono">

        </form>
    
    <ul class="navbar-nav">
        <li class="nav-item active">
          
          <a ui-sref= "navegador.album" class="nav-link" ><img src="img/archivos.png" > <span class="sr-only">(current)</span></a>
        </li>
        
        <li class="nav-item dropdown">
          
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>

            
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" ui-sref= "userNew" > <img src="img/cerrar.png" class= "icono"></a>
        </li>
      </ul>

     </div>
    </nav>


    <div class="container">
        <ui-view>
          
        </ui-view>
      </div>     




